<h2>New power_cord</h2>

<%= render "form.html", changeset: @changeset,
                        action: power_cord_path(@conn, :create),
                        sockets: @sockets,
                        power_supplies: @power_supplies %>

<%= link "Back", to: power_cord_path(@conn, :index) %>
