<h2>Show power_cord</h2>

<ul>

  <li>
    <strong>Serial:</strong>
    <%= @power_cord.serial %>
  </li>

  <li>
    <strong>Socket:</strong>
    <%= @power_cord.socket.position %>
  </li>

  <li>
    <strong>PowerSupply:</strong>
    <%= @power_cord.power_supply.name %>
  </li>

</ul>

<%= link "Back", to: power_cord_path(@conn, :index) %>
