<h2>Edit cage</h2>

<%= render "form.html", changeset: @changeset,
                        action: cage_path(@conn, :update, @cage),
                        rooms: @rooms %>

<%= link "Back", to: cage_path(@conn, :index) %>
