<h2>New slot</h2>

<%= render "form.html", changeset: @changeset,
                        action: slot_path(@conn, :create),
                        racks: @racks %>

<%= link "Back", to: slot_path(@conn, :index) %>
