<h2>Show port</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @port.name %>
  </li>

  <li>
    <strong>Pdu:</strong>
    <%= @port.pdu.name %>
  </li>

  <li>
    <strong>Device:</strong>
    <%= @port.device.name %>
  </li>

  <li>
    <strong>Transit:</strong>
    <%= @port.transit.name %>
  </li>

</ul>

<%= link "Back", to: port_path(@conn, :index) %>
