<h2>New building</h2>

<%= render "form.html", changeset: @changeset,
                        action: building_path(@conn, :create),
                        data_centers: @data_centers %>

<%= link "Back", to: building_path(@conn, :index) %>
