<h2>New floor</h2>

<%= render "form.html", changeset: @changeset,
                        action: floor_path(@conn, :create),
                        buildings: @buildings %>

<%= link "Back", to: floor_path(@conn, :index) %>
