<h2>New device</h2>

<%= render "form.html", changeset: @changeset,
                        action: device_path(@conn, :create),
                        device_types: @device_types %>

<%= link "Back", to: device_path(@conn, :index) %>
