<h2>Show device</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @device.name %>
  </li>

  <li>
    <strong>DeviceType:</strong>
    <%= @device.device_type.name %>
  </li>

</ul>

<%= link "Back", to: device_path(@conn, :index) %>
