<h2>Show pdu</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @pdu.name %>
  </li>

  <li>
    <strong>SocketCount:</strong>
    <%= @pdu.socket_count %>
  </li>

  <li>
    <strong>Circuit:</strong>
    <%= @pdu.circuit.name %>
  </li>

</ul>

<%= link "Back", to: pdu_path(@conn, :index) %>
