<h2>Edit circuit</h2>

<%= render "form.html", changeset: @changeset,
                        action: circuit_path(@conn, :update, @circuit),
                        cages: @cages %>

<%= link "Back", to: circuit_path(@conn, :index) %>
