<h2>Show circuit</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @circuit.name %>
  </li>

  <li>
    <strong>Amps:</strong>
    <%= @circuit.amps %>
  </li>

  <li>
    <strong>Cage:</strong>
    <%= @circuit.cage.name %>
  </li>

</ul>

<%= link "Back", to: circuit_path(@conn, :index) %>
