<div class="col-lg-2 col-md-3">
  <%= render "status_card.html",  card_color: @card_color,
                                  card_icon: @card_icon,
                                  card_count: @card_count,
                                  card_description: @card_description,
                                  card_link: @card_link %>
</div>
