<h2>Edit power_supply</h2>

<%= render "form.html", changeset: @changeset,
                        action: power_supply_path(@conn, :update, @power_supply),
                        devices: @devices %>

<%= link "Back", to: power_supply_path(@conn, :index) %>
