<h2>Show power_supply</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @power_supply.name %>
  </li>

  <li>
    <strong>Device:</strong>
    <%= @power_supply.device.name %>
  </li>

</ul>

<%= link "Back", to: power_supply_path(@conn, :index) %>
